body {
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.content {
    width: 500px;
    margin: 0px auto;
    position: relative;

}

p {
    margin-bottom: 15px;
}

input {
    outline: none;
    width: 95%;
    margin-top: 4px;
    padding: 10px;
    border: 1px solid #b2b2b2;
}
select{
    outline: none;
    width: 99%;
    margin-top: 4px;
    padding: 10px;
    border: 1px solid #b2b2b2;
}
h1{
    text-align: center;
}